section.footer
    .container.flex.space-between 
        .contacts.column
            h2 FASHION
            p Complete your style with awesome clothes from us.
            .icons.flex
                img(src="./img/facebook.svg", alt="")
                img(src="./img/instagram.svg", alt="")
                img(src="./img/twitter.svg", alt="")
                img(src="./img/linked-in.svg", alt="")
        .burger.align-center.show-on-mobile
            img(src="./img/burger-white.svg", alt="")
        .menu.flex.hide-on-mobile
            .sub-menu
                .header Company
                a(href="#") About
                a(href="#") Contact us
                a(href="#") Support
                a(href="#") Careers
            .sub-menu
                .header Quick Link
                a(href="#") Share Location
                a(href="#") Orders Tracking
                a(href="#") Size Guide
                a(href="#") FAQs
            .sub-menu
                .header Legal                              
                a(href="#") Terms & conditions
                a(href="#") Privacy Policy