doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/style.css")
        title Document
    body 
        section.header.flex.align-center 
            .container.flex.align-center.space-between 
                img(src="./img/flower.svg", alt="")
                .menu
                    ul.flex
                        li о нас
                        li каталог
                        li доставка
                        li контакты
        section.hero
            h1 Купи цветы<br> у нас<br> <b>прямо cейчас!</b>
        section.info.container.flex.space-between.align-center
            img(src="./img/woman-and-flowers.jpg", srcset='./img/woman-and-flowers.jpg 1x, ./img/woman-and-flowers@2x.jpg 2x', alt="")
            .description.column
                p Добро пожаловать в наш цветочный магазин! Мы рады предложить вам широкий ассортимент свежих и изысканных цветов, которые станут идеальным подарком для любого случая. У нас вы найдете как классические букеты, так и уникальные композиции, созданные нашими профессиональными флористами с любовью и вниманием к деталям.
                
                p Мы понимаем, что цветы – это не просто растения, а символы чувств и эмоций. Поэтому мы стремимся сделать каждый заказ особенным, учитывая все ваши пожелания. Наши курьеры оперативно доставят ваш букет в любую точку города, чтобы порадовать ваших близких или коллег в нужный момент. В нашем магазине вы всегда можете рассчитывать на высокое качество продукции и безупречный сервис.

                p Кроме того, у нас вы сможете найти не только традиционные букеты, но и оригинальные цветочные композиции, украшенные декоративными элементами, зеленью и аксессуарами. Мы также предлагаем услуги по оформлению мероприятий, будь то свадьба, юбилей или корпоративное событие. Наш опыт и креативный подход помогут создать атмосферу праздника и оставить незабываемые впечатления у всех гостей.

                p Мы уверены, что наши цветы принесут радость и тепло в любой дом или офис. Выбирайте и заказывайте с удовольствием – мы сделаем всё возможное, чтобы ваше общение с нами было приятным и комфортным!